---
layout: post
title: "About"
author: "Jackdm"
permalink: /about/
---

<p>Posts are currently down. Working on the site now, if things look wack.</p>
<br>
<p>Seventeen years old. I make cool things.</p>
<br>
<p>This site is where you can find all of my blog posts, project logs, and other stuff.</p>
<br>
<p>Below are links to my other stuff on the web.</p>
<br>
<p>email: <a href="mailto:jack@directmessagellc.com">jack@directmessagellc.com</a></p>
<br>
<p>instagram: <a href="https://instagram.com/Jackdm">instagram.com/Jackdm</a></p>
<br>
<p>twitter: <a href="https://twitter.com/JackDMcCoy">twitter.com/JackDMcCoy</a></p>
<br>
<p>github: <a href="https://github.com/Jackdm">github.com/Jackdm</a></p>
<br>
<p>hackaday: <a href="https://hackaday.io/Jackdm">hackaday.io/Jackdm</a></p>
<br>
<p>resume (most updated copy): <a href="https://docs.google.com/document/d/1Sg2tYXP1_FfZcsseL8wP_GC9u0bvUY4th15yb8D04A0/edit?usp=sharing">click here to request access</a></p>
